<div class="container-fluid">
  <div class="float-left">
    <h4><a routerLink="">Home</a></h4>
  </div>
</div>

<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>Star Wars Movies</h1>
  </div>
</div>

<div *ngIf="loading" class="container text-center">
  <h2>Loading Movies........</h2>
</div>

<div *ngIf="showError" class="container text-center">
  <h2>I was not able to get the movies</h2>
</div>

<div *ngIf="!loading && !showError" class="container-fluid text-center">
  <div *ngIf="showSearch" class="container text-center">
    <form>
      <div class="form-group">
        <label for="movie"
          ><b>Search for a movie (not case sensitive so don't worry):</b></label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="searchMovie"
          name="movie"
        />
      </div>
    </form>
  </div>
  <p>Click on the title to get more details</p>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Director</th>
        <th scope="col">Release date:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of displayMovies">
        <th scope="row">
          <a routerLink="/movies/details/{{ movie.title }}">{{
            movie.title
          }}</a>
        </th>
        <td>{{ movie.director }}</td>
        <td>{{ movie.release_date | customDate }}</td>
      </tr>
    </tbody>
  </table>
  <div class="btn-group float-right">
    <button
      *ngFor="let page of pageNumbers"
      (click)="changePage(page)"
      class="btn btn-outline-primary"
      [class.active]="page == pageSelected"
    >
      {{ page }}
    </button>
  </div>
</div>
