<div class="container-fluid">
  <div class="container text-center">
    <h4>Write a description here</h4>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat
      exercitationem necessitatibus corrupti quidem in vel, minima dolores ad
      sed blanditiis sequi voluptatibus iure amet beatae ut cum earum qui?
      Consequuntur.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab atque dolor
      vel excepturi omnis ea ullam voluptatum! Eos culpa ullam alias velit?
      Obcaecati veniam impedit minima ea odio qui dignissimos.
    </p>
  </div>
  <div class="text-center">
    <h3>Click on the link below to see the movies:</h3>
    <h2><a routerLink="movies">Movies</a></h2>
  </div>
</div>
